<%- model_class = Arduino -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:name) %>:</strong></dt>
  <dd><%= @arduino.name %></dd>
  <dt><strong><%= model_class.human_attribute_name(:mac_address) %>:</strong></dt>
  <dd><%= @arduino.mac_address %></dd>
  <dt><strong><%= model_class.human_attribute_name(:email) %>:</strong></dt>
  <dd><%= @arduino.email %></dd>
</dl>

<div class="form-actions">
  <%= link_to t('.back', :default => t("helpers.links.back")),
              arduino_path, :class => 'btn'  %>
  <%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_arduino_path(@arduino), :class => 'btn' %>
  <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              arduino_path(@arduino),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>
</div>
